:root {
  --block-color: rgb(241, 204, 204);
  --block-black-pen: rgb(0, 0, 0);
  --block-shade-start: rgb(0, 0, 0);
}
/* GENERAL */
html {
  box-sizing: border-box;
  font-family: "Big Shoulders Stencil Display", monospace;
  font-size: 16px;
  color: var(--block-color);
}
body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(120deg, #7a3a3a, #63668a);
  user-select: none;
}
/* Main Wrapper */
.main-wrapper {
  height: 100%;
  display: flex;
}
/* Info modal */
.hidden {
  visibility: hidden;
}
.info-modal {
  position: absolute;
  top: 30px;
  box-sizing: border-box;
  border: 1px solid var(--block-color);
  width: 20%;
  z-index: 3;
  background-color: #895e63;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  letter-spacing: 0.1rem;
}
.info-modal h2 {
  margin: 0.4rem auto;
  font-size: 1.4rem;
}
.info-modal .btn-close-modal {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 1.3rem;
  font-weight: 600;
}
.info-modal .btn-close-modal:hover {
  color: #791e53;
}
/* ASIDE */
.info-section {
  width: 20%;
  height: 100%;
  background-color: rgba(180, 161, 161, 0.3);
  text-align: center;
}
.info-section h1 {
  font-size: 3rem;
  padding: 2rem 0 1.5rem;
}
.btn {
  display: block;
  border: 2px solid var(--block-color);
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
}
.btn:hover {
  background-color: var(--block-color);
  color: #895e63;
}
.btn-set-color,
.btn-reset-resize-grid {
  border-top: none;
}
.dimension-container {
  margin: 0.5rem auto;
}
.dimension-container h2 {
  font-size: 1.2rem;
}
.dimension-option {
  position: relative;
  top: 1rem;
  border: 1px solid var(--block-color);
  padding: 0.2rem 0.4rem;
  border-radius: 10px;
}
.dimension-active,
.pen-active {
  background-color: var(--block-color);
  color: #895e63;
}
/* GRID SECTION */
.grid-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drawing-grid {
  display: grid;
  border: 1px solid var(--block-color);
  height: 95vmin;
  width: 95vmin;
}
/* grid block */
.block {
  background-color: var(--block-color);
}
