:root {
  --block-color: rgb(241, 204, 204);
  --font-color: rgb(251, 234, 234);
  --block-black-pen: rgb(0, 0, 0);
  --block-shade-start: rgb(0, 0, 0);
}
/* GENERAL */
html {
  box-sizing: border-box;
  font-family: "Big Shoulders Stencil Display", monospace;
  font-size: 16px;
  color: var(--font-color);
}
body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(120deg, #7a3a3a, #63668a);
  user-select: none;
}
/* Main Wrapper */
.main-wrapper {
  height: 100%;
  display: flex;
}
/* Info modal */
.hidden {
  visibility: hidden;
}
.info-modal {
  position: absolute;
  top: 105px;
  box-sizing: border-box;
  border: 1px solid var(--block-color);
  width: 20%;
  z-index: 3;
  background-color: #895e63;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  letter-spacing: 0.1rem;
}
.info-modal h2 {
  margin: 0.4rem 0;
  text-align: center;
  font-size: 1.4rem;
}
.info-modal p {
  padding: 10px 5px 3px;
}
.info-modal li {
  padding-left: 10px;
}
.info-modal .btn-close-modal {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: monospace;
}
.info-modal .btn-close-modal:hover {
  color: #63668a;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
}
/* ASIDE */
.info-section {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  background-color: rgba(180, 161, 161, 0.3);
  text-align: center;
}
.info-section h1 {
  font-size: 3rem;
  padding: 2rem 0 1.5rem;
  text-shadow: 3px 3px #6c556a;
}
.btn {
  display: block;
  border: 2px solid var(--block-color);
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
}
.btn:hover,
.dimension-option:hover {
  background-color: var(--block-color);
  color: #895e63;
}
.btn:active,
.dimension-option:active {
  background-color: #764248;
  color: var(--font-color);
}

.btn-set-color,
.btn-reset-resize-grid,
.btn-toggle-grid {
  border-top: none;
}
.dimension-container {
  margin: 0.5rem auto;
}
.dimension-container h2 {
  font-size: 1.3rem;
}
.dimension-option {
  display: inline-block;
  font-size: 1.1rem;
  position: relative;
  top: 1rem;
  border: 2px solid var(--block-color);
  padding: 0.2rem 0.4rem;
  border-radius: 8px;
}
.dimension-active,
.pen-active,
span.pen-active:hover,
span.dimension-active:hover {
  background-color: #6c556a;
  color: var(--block-color);
}
/* GRID SECTION */
.grid-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drawing-grid {
  display: grid;
  grid-gap: 0px;
  border: 1px solid var(--block-color);
  height: 95vmin;
  width: 95vmin;
}
/* grid block */
.block {
  background-color: var(--block-color);
}

.pick-color {
  border: none;
}
@media (max-width: 700px) {
  body {
    background: #7a3a3a; /*, #63668a;*/
  }
  .main-wrapper {
    flex-direction: column;
  }
  .info-section {
    flex-direction: row;
    width: 100%;
    height: 30%;
  }
  .btn {
    display: inline-block;
    margin: 1px;
    padding: 0.2rem 0.5rem;
    font-size: 1.1rem;
  }
  .grid-container {
    width: 100%;
    height: 100%;
  }
  .btn-set-color,
  .btn-reset-resize-grid,
  .btn-toggle-grid {
    border: 2px solid var(--block-color);
  }
  .drawing-grid {
    display: grid;
    border: 1px solid var(--block-color);
  }
  .info-modal {
    top: 0;
    right: 0;
    width: 100%;
  }
}

@media (max-width: 200px) {
  .main-wrapper::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 2;
  }
  .main-wrapper::after {
    content: "😿 Sorry not supported for this device size, please use desktop device";
    color: white;
    font-size: 3rem;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
  }
}
