:root {
  --block-color: rgb(241, 204, 204);
  --block-black-pen: rgb(0, 0, 0);
  --block-shade-start: rgb(0, 0, 0);
}
/* GENERAL */
html {
  box-sizing: border-box;
  font-family: "Big Shoulders Stencil Display", monospace;
  font-size: 16px;
  color: var(--block-color);
}
body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(120deg, #7a3a3a, #63668a);
}
/* Main Wrapper */
.main-wrapper {
  height: 100%;
  display: flex;
}
/* Info modal */
.hidden {
  visibility: hidden;
}
.info-modal {
  border: 1px solid var(--block-color);
  width: 90%;
}
/* ASIDE */
.info-section {
  width: 20%;
  height: 100%;
  background-color: rgba(180, 161, 161, 0.3);
  text-align: center;
}
.info-section h1 {
  font-size: 3rem;
  padding: 2rem 0 1.5rem;
}
/* GRID SECTION */
.grid-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drawing-grid {
  display: grid;
  border: 1px solid var(--block-color);
  height: 95vmin;
  width: 95vmin;
}
/* grid block */
.block {
  background-color: var(--block-color);
}
